@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.font-adjust{
    font-size: 100px;
    color: gray;
}

.font-adjust:hover{
    color:white;
    cursor: pointer;
}

.i:hover{
    scale: 1.15;
}

#circle {
    background: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}