/* .class1{
    color: blue;
}
.faq-box{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.faq-container{ */
    /* background-color: aquamarine; */
    /* width: 60vw;
    font-family: inherit;

} */
/* .question{
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border-left:1px solid black;
    border-bottom:1px solid black;
    border-radius: 10px;
    background-color: rgb(179, 210, 220);
}
.answer{
    margin-top: 0px;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px  solid black;
    /* border-left: 1px  solid black; */
    /* border-bottom-left-radius: 10px; */
    /* background-color: aquamarine; */
    /* background-color: rgb(213, 239, 248); */
/* } */
/* .faq-head{
    padding: 10px;
    text-align: center;
    font-weight: 650;
    text-decoration: underline; */
    /* text-shadow: brown; */
/* }
.question-box{
    background-color: rgb(228, 238, 241);
    border-radius: 10px;
    border-left: 1px solid black;
}

@media(max-width: 1000px){
    .faq-container{
        width: 70%;
        /* transform: width 0.3s; */
    /* }
}
@media(max-width: 850px ){
    .faq-container{
        width: 78%;
    }
}
@media(max-width: 760px) {
    .faq-container{
        width: 85%;
    }
} */
/* @media(max-width: 700px){
    .faq-container{
        width: 90%;
    }
    .question , .answer{
        font-size: 18px;
    }
}
@media(max-width: 600px){
    .question , .answer{
        font-size: 15.2px;
    } */ 
/* }
@media(max-width: 500px){
    .question , .answer{
        font-size: 13px;
    }
}
@media(max-width: 440px){
    .question , .answer{
        font-size: 12px;
    }
}
@media(max-width: 400px){
    .question , .answer{
        font-size: 11px;
    }
} */ 

.title {
    font-size: 3rem;
    margin: 5rem 0rem;
  }
  
  #FAQs-section {
    font-family: 'Quicksand, sans-serif';
    background: #1c1c1c;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .faq {
    height: 90px; /* Adjust this value as needed */
    overflow: hidden;
    transition: height 0.5s ease;
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    border-bottom: 2px solid #fff;
  }
  
  .faq.active {
    height: auto;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  
  .question h3 {
    font-size: 1.8rem;
  }
  
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: opacity 1.4s ease;
  }
  
  .answer p {
    padding-top: 1rem;
    line-height: 1.4;
    font-size: 1.4rem;
  }
  
  .faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
  }
  
  .faq .question svg.arrow {
    transition: transform 0.3s ease-in;
  }
  
  
  .faq.active .question svg.arrow {
    transform: rotate(180deg);
  }
  
  
  #break {
    height: 100px;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }