.conduction {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--spacing-4);
  padding-top: calc(var(--spacing-4) * 2.5);
}

.conduction .phase-card {
  background: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-primary-light) 20%,
    var(--color-primary-dark)
  );
  max-width: 350px;
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: 8px;
  border: 3px solid var(--color-primary-light);
  box-shadow: var(--shadow-default);
  display: flex;
  flex-direction: column;
  transition: 250ms;
}

.conduction .phase-card:hover {
  scale: 1.05;
}

.conduction .phase-card .header {
  padding-bottom: var(--spacing-2);
}

.conduction .phase-card .header h1 {
  padding-bottom: var(--spacing-1);
}

.conduction .phase-card .info {
  padding: var(--spacing-2) 0;
  flex: 1;
}

.conduction .phase-card .info ul {
  padding: var(--spacing-2) 0;
}

.conduction .phase-card .info ul li {
  list-style-type: none;
  font-weight: 500;
  padding: 4px 0;
  font-size: medium;
}
