nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: var(--default-padding) 0;
  position: relative;
}

nav .logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2);
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
}

nav .logo-div img {
  height: 48px;
}

nav .menu-toggle {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 48px;
}

nav ul a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: 250ms;
}

nav ul a:hover {
  border-color: var(--text-color);
}

@media screen and (max-width: 1200px) {
  nav {
    padding: var(--tablet-padding) 0;
  }
}

@media screen and (max-width: 810px) {
  .outer-nav-box {
    overflow-x: clip;
  }

  nav {
    padding: var(--phone-padding) 0;
  }

  nav .menu-toggle {
    display: block;
    transition: 250ms;
  }
  
  nav .menu-toggle svg{
    height: 24px;
    width: 24px;
  }

  nav ul {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    border-radius: 4px;
    padding: 16px;
    border: 1px solid var(--text-color);
    background-color: rgba(0,0,0,0.7);
    transform: translate(calc(100% + var(--phone-padding)), 0);
    z-index: 999;
    transition: 250ms;
  }
  
  nav ul a {
    width: min-content;
    color: white;
  }
  
  nav #menu-toggle-checkbox:checked ~ .menu-toggle {
    transform: rotate(90deg);
  }
  
  nav #menu-toggle-checkbox:checked ~ ul {
    transform: translate(0%, 0);
  }
}
