.sponcers-marquee {
  --padding: 32px;

  display: flex;
  align-items: center;
  padding: var(--padding) 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  width: 100%;
  overflow-x: hidden;
  position: relative;
  height: 70px;

  mask-image: linear-gradient(
    to right,
    #ffffff00,
    #ffffffff 10%,
    #ffffffff 90%,
    #ffffff00
  );
}

.sponcers-marquee .sponsor-card {
  display: flex;
  align-items: center;
  padding: var(--spacing-1) var(--spacing-3);

  position: absolute;

  animation-name: scrollInfinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.sponcers-marquee .sponsor-card img {
  width: var(--card-width);
  max-height: 70px;
  filter: contrast(0);
}

@keyframes scrollInfinite {
  to {
    left: calc((var(--card-width) + var(--card-gap)) * -1);
  }
}

@media screen and (max-width: 1200px) {
  .sponcers-marquee {
    --padding: 24px;
  }
}

@media screen and (max-width: 810px) {
  .sponcers-marquee {
    --padding: 20px;
  }
}
