/* ReviewCard.css */
.review-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 16px;
    margin: 10px;
    justify-content: center;
  }
  
  .review-card-content {
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  .review-card-details {
    display: flex;
    flex-direction: column; /* Arrange image and details in a column */
    align-items: center; /* Center the items horizontally */
  }
  
  .review-card-image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .reviewer-name {
    margin: 10px 0; /* Add spacing between name and organization */
    font-size: 18px;
  }
  
  .reviewer-organization {
    margin: 10px 0; /* Add spacing between name and organization */
    font-size: 15px;
  }
  
  .review-text-container {
    flex: 1;
    margin: 1;
  }
  
  .review-text {
    margin: 1;
    font-size: 16px;
  }
  
  /* The rest of the styles remain the same */
  