.container {
    /* min-height: 100vh;
    width: 100vw; */
    background: url("/public/images/login/background-white.jpeg");
    padding-bottom: 1rem;
}

.loader-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid #ccc;
    border-top: 8px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.profile-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
