.hero {
  --large-size: 60px;
  --medium-size: 20px;
  --small-size: 18px;
  --box-padding: 40px;
  --space-between: var(--spacing-4);

  padding-top: var(--box-padding);
  padding-bottom: calc(var(--box-padding) * 2);
}

.hero .hero-text-img-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  gap: var(--spacing-3);
}

.hero .hero-text h1 {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: var(--large-size);
  font-weight: 500;
  padding-bottom: var(--space-between);
}

.hero .hero-text h1 span {
  color: var(--color-accent);
  font-weight: 600;
}

.hero .hero-text h2 {
  font-weight: 500;
  font-size: var(--medium-size);
}

.hero .hero-text p {
  color: var(--text-secondary);
  font-size: var(--small-size);
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  padding-top: var(--space-between);
  padding-bottom: calc(var(--space-between) * 2);
}

.hero .hero-text .hero-btn-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-2);
}

.hero-btn-box .register-btn {
  font-size: 14px;
  font-weight: 600;
  text-wrap: nowrap;
  text-decoration: none;
}

.hero-btn-box .register-btn svg {
  margin-left: 10px;
}

.hero-btn-box .register-btn:hover span {
  transform: translateX(16px);
}

.hero-btn-box .register-btn:hover svg {
  transform: translateX(100px);
}

.hero-btn-box div {
  font-family: monospace;
}

@media screen and (max-width: 1200px) {
  .hero {
    --large-size: 48px;
    --medium-size: 18px;
    --small-size: 16px;
    --box-padding: 32px;
    --space-between: var(--spacing-3);
  }

  .hero .hero-text {
    width: min(100%, 500px);
  }

  .hero .hero-img img {
    width: 360px;
  }
}

@media screen and (max-width: 810px) {
  .hero {
    --large-size: 40px;
    --box-padding: 24px;
    --space-between: var(--spacing-2);
  }

  .hero .hero-text-img-box {
    flex-direction: column;
    gap: calc(var(--spacing-4) * 1.5);
  }

  .hero .hero-text {
    width: 100%;
  }
  
  .hero .hero-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hero .hero-img img{
    width: 100%;
  }
}
