.perks-rewards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.perks-rewards .heading-section {
  display: flex;
  padding-bottom: 64px;
}

.perks-rewards .heading-section > div {
  flex: 5;
}

.perks-rewards .heading-section h1 {
  flex: 7;
}

.perks-rewards .content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 48px 32px;
}

.perks-rewards .content-section .perk-card {
  aspect-ratio: 16/9;
  background-image: linear-gradient(to top, #000, #ffffff00 50%),
    var(--card-image);
  background-size: 100% 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: var(--spacing-3) var(--spacing-4);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  transition: 250ms;
}

.perks-rewards .content-section .perk-card:hover {
  background-size: 110% 110%;
}

@media screen and (max-width: 1200px) {
  .perks-rewards .content-section .perk-card {
    font-size: 20px;
  }
}

@media screen and (max-width: 810px) {
  .perks-rewards .heading-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 12px;
  }

  .perks-rewards .content-section  {
    gap: 24px 16px;
  }

  .perks-rewards .content-section .perk-card {
    font-size: 18px;
  }
}

@media screen and (max-width: 510px) {
  .perks-rewards .content-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
