.header-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.lower-layer {
    background-color: var(--bg-header-lower-layer-back);
}

.upper-layer {
    background-image: linear-gradient(to bottom right, rgba(179, 82, 82, 0.5), rgba(13, 72, 135, 0.5));
}

.unosq-icons {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.picAndReg-btn {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.unosq-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.unosq-img img {
    width: 70%;
    min-width: 280px;
}

.spon {
    overflow: hidden;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 0 10%;
}

.spon .spon-item {
    width: 30%;
}

.spon .spon-title {
    font-size: 15px;
    color: var(--bg-header-spon-title);
}

.spon .spon-img img {
    width: 70%;
    min-width: 80px;
}

.spon .spon-img .pw {
    width: 50%;
}

.reg-in-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .reg-in-header {
        text-align: center; /* Center content on small screens */
    }

    .register-button {
        width: 100%; /* Full width for smaller screens */
        max-width: none; /* Remove the max-width constraint */
    }

    .modal-body {
        padding: 15px;
    }

    .d-flex {
        flex-direction: column; /* Stack buttons vertically in modals */
        align-items: center; /* Center buttons horizontally */
    }

    .btn {
        margin: 10px 0; /* Space between buttons in vertical stack */
        width: 100%; /* Full width buttons */
        max-width: 220px; /* Constrain max width for buttons */
    }

    .unosq-img {
        height: 50vh;
    }

    .picAndReg-btn .unosq-img {
        display: none;
    }

    .header-div {
        flex-direction: column;
    }

    .spon .spon-title {
        font-size: 12px;
    }

    .unosq-icons {
        width: 100%;
    }

    .picAndReg-btn {
        width: 100%;
    }

    .spon .spon-item {
        width: 30%;
    }
}

.btn-primary, .btn-secondary {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 220px; /* Fixed width */
    height: 40px; /* Fixed height */
    white-space: nowrap;
}

.btn-primary:focus, .btn-primary:hover,
.btn-secondary:focus, .btn-secondary:hover,
.btn-primary:active, .btn-secondary:active {
    width: 220px; /* Ensure width remains the same in active/hover/focus states */
    height: 40px; /* Ensure height remains the same in active/hover/focus states */
}

/* Primary Button Specific Styles */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:active {
    color: #fff;
    background-color: #004085;
    border-color: #002752;
}

/* Secondary Button Specific Styles */
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary:active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}
