.header-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.upper-layer
{
    background-image: linear-gradient(to bottom right,rgba(179, 82, 82, 0.5), rgba(13, 72, 135, 0.5));
}
.unosq-icons {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.picAndReg-btn {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.unosq-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: hidden;
}

.unosq-img img {
    width: 70%;
    min-width: 280px;
}

.spon {
    overflow: hidden;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 0 10%;
}

.spon .spon-item {
    width: 30%;
}

.spon .spon-title {
    font-size: 15px;
}

.spon .spon-img img {
    width: 70%;
    min-width: 80px;

}

.reg-in-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .unosq-img {
        height: 50vh;
    }

    .picAndReg-btn .unosq-img {
        display: none;
    }

    .header-div {
        flex-direction: column;
    }

    .spon .spon-title {
        font-size: 12px;
    }

    .unosq-icons {
        width: 100%;
    }

    .picAndReg-btn {
        width: 100%;
    }
    .spon .spon-item {
        width: 30%;
    }
}