.comtent {
    background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  overflow: hidden;
  border-color: rgba(144, 144, 144, 0.25);
  vertical-align: baseline;
  box-sizing: border-box;
  width: 80%;
  align-items: center;
  padding: 3%;
  margin: auto;
  }

  @media screen and (max-width: 736px){
      .flex.flex-tabs ul {
          width: 100%;
      }
  }


  @media screen and (max-width: 980px){
    .flex.flex-tabs ul {
    width: 30%;
}
  }


element.style {
}
@media screen and (max-width: 736px)
.flex.flex-tabs ul {
    width: 100%;
}
@media screen and (max-width: 980px)
.flex.flex-tabs ul {
    width: 30%;
}
.flex.flex-tabs ul {
    width: 20%;
}
ul.tab-list {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
}
.back{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head{
    justify-content: center;
    align-items: center;
}
.header{
    color: blue;
    font-weight: bolder;
}
h1,h2{
    margin-bottom: 1rem;;
}
.text-header{
    font-weight: bolder;
}

