body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --bg-website-bg: rgb(255, 255, 255);
  --bg-navbar: #c2c2c2;
  
  --bg-navbar-text: rgb(84, 84, 84);
  --bg-navbar-text-hover: rgb(60, 83, 184);
  --bg-reg-button: rgb(97, 179, 204);
  /* --bg-reg-button-text:  */

  --bg-header-lower-layer-back: rgb(0,0,0,0.3);
  --bg-header-spon-title: black;

  --bg-headlines: violet;
  --bg-about-button-back: yellow;

  --bg-sub-header: green;
  --bg-sub-content: blue;

  --bg-timeline-date: brown;
  --bg-timeline-event: rgb(81, 197, 236);
  --bg-timeline-content: rgb(217, 217, 29);

  
}
