body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --bg-navbar: #c2c2c2;
  --bg-navbar-text: rgb(106, 106, 106);
  --bg-normal-p-text: #4e4343;
  --bg-normal-heading: rgb(129, 92, 39);
  --bg-website-bg: rgb(255, 255, 255);
  --bg-navbar-text-hover: rgb(60, 83, 184);
}
